.smallPresentation {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  .smallPresentationContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 32px;
    max-width: variables.$max-width-content;

    p {
      font-size: 24px;
    }

    .title {
      font-size: 64px;
    }
  }
}


@media (width <= variables.$screen-2xl) {
  .smallPresentation {
    padding: 0 16px;
    .smallPresentationContent {
      h1 {
        font-size: 48px !important;
      }
    }
  }
}

@media (width <= variables.$screen-sm) {
  .smallPresentation {
    .smallPresentationContent {
      h1 {
        font-size: 36px !important;
      }
    }
  }
}
