.smallPresentation {
  display: flex;
  justify-content: center;

  & .smallPresentationContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 32px;
    max-width: var(--max-width-content);

    & h1,
    p {
      /* width: 50%; */
    }

    & p {
      font-size: 24px;
    }

    & .title {
      font-size: 64px;
    }
  }
}
