.getInTouch {
  display: flex;
  padding: var(--padding-content);
  margin-bottom: 32px;
  
  & .visualHook {
    flex: 1;
    font-size: 32px;
  }

  & .contactWithCustomer {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }
}