.blogPresentationCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 400px;
  height: 110px;
  padding: 16px;
  border: 1.5px solid variables.$main-text-color;
  border-radius: 16px;
  background-color: variables.$main-background-color;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.blogPresentationCard:hover {
  transform: scale(1.025);
}