.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: variables.$main-text-color;

  .footerContent {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: variables.$max-width-content;
    height: 80px;

    nav ul {
      display: flex;
      gap: 32px;
      padding: 0;
      list-style: none;

      a {
        font-size: 20px;
        color: variables.$main-background-color;
        text-decoration: none;

        :link,
        :visited,
        :hover,
        :active,
        :focus {
          color: variables.$main-background-color;
          text-decoration: none;
        }

        div:hover {
          border-bottom: 1.5px solid variables.$main-text-color;
        }
      }
    }
  }
}

@media (width <= variables.$screen-2xl) {
  .footer {
    padding: 0 16px;
  }
}

@media (width <= variables.$screen-sm) {
  .footerContent {
    justify-content: center;
  }
}
