.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--main-text-color);

  & .footerContent {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: var(--max-width-content);
    height: 80px;

    & nav ul {
      display: flex;
      gap: 32px;
      padding: 0;
      list-style: none;

      & a {
        font-size: 20px;
        color: var(--main-background-color);
        text-decoration: none;

        :link,
        :visited,
        :hover,
        :active,
        :focus {
          color: var(--main-background-color);
          text-decoration: none;
        }

        & div:hover {
          border-bottom: 1.5px solid var(--main-text-color);
        }
      }
    }
  }
}
