.focusContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}

.card {
  padding: 30px;
  border: 1px solid rgb(255 255 255 / 5%);
  border-radius: variables.$border-radius;
  background-color: variables.$card-bg;
  box-shadow: variables.$shadow-sm;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
