.header {
  display: flex;
  justify-content: center;
  width: 100%;

  & .headerContent {
    display: flex;
    flex: 1;
    max-width: var(--max-width-content);
    margin: 32px 0;

    & .socialNetworks {
      display: flex;
      flex: 1;
      gap: 16px;
    }

    & .navMenu {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      & ul {
        display: flex;
        gap: 32px;
        list-style: none;

        & a {
          font-size: 20px;
          color: inherit;
          text-decoration: none;

          :link,
          :visited,
          :hover,
          :active,
          :focus {
            color: inherit;
            text-decoration: none;
          }

          & div {
            border-bottom: 1.5px solid transparent;
          }

          & div:hover {
            border-color: var(--main-text-color);
          }
        }
      }
    }
  }
}
