.blogPresentation {
  display: flex;
  justify-content: center;
  background-color: var(--green);

  & .blogPresentationContent {
    display: flex;
    flex: 1;
    max-width: var(--max-width-content);

    & a {
      margin: 32px 0;
    }

    & h2 {
      margin: 32px 0;
    }

    & .profilePicture {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      & img {
        width: auto;
        max-height: 500px;
        border-radius: 500px;
        transform: translateY(-250px);
      }
    }

    & .articlesAccess {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
    }
  }
}
