.blogPresentation {
  display: flex;
  padding: var(--padding-content);
  background-color: var(--green);

  & a {
    margin: 32px 0;
  }

  & h2 {
    margin: 32px 0;
  }

  & .profilePicture {
    flex: 1;

    & img {
      position: absolute;
      top: 200px;
      right: 10%;
      bottom: 112px;
      width: auto;
      max-width: 280px;
      height: auto;
      max-height: 500px;
      border-radius: 500px;
      object-position: 50% 60%;
    }
  }

  & .articlesAccess {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
  }
}
