.blogPresentation {
  display: flex;
  justify-content: center;
  background-color: variables.$green;

  .blogPresentationContent {
    display: flex;
    flex: 1;
    max-width: variables.$max-width-content;

    a {
      margin: 32px 0;
    }

    h2 {
      margin: 32px 0;
    }

    .profilePicture {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      img {
        width: auto;
        max-height: 500px;
        border-radius: 500px;
        margin-top: -220px;
      }
    }

    .articlesAccess {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
    }
  }
}

@media (width <= variables.$screen-2xl) {
  .blogPresentation {
    padding: 0 16px;
  }
}

@media (width <= variables.$screen-2xl) {
  .blogPresentation {
    .blogPresentationContent {
      .profilePicture {
        img {
          max-height: 450px;
          margin-top: -180px;
        }
      }
    }
  }
}

@media (width <= variables.$screen-lg) {
  .blogPresentation {
    .blogPresentationContent {
      .profilePicture {
        img {
          max-height: 400px;
          margin-top: -150px;
        }
      }
    }
  }
}

@media (width <= variables.$screen-md) {
  .blogPresentation {
    .blogPresentationContent {
      .profilePicture {
        display: none;
      }
    }
  }
}
