.linkButton {
  display: inline-block;
  width: fit-content;
  min-width: 140px;
  height: 48px;
  padding: 0 32px;
  border: 1px solid variables.$main-text-color;
  border-radius: 50px;
  line-height: 48px;
  text-align: center;
  color: variables.$main-background-color;
  background-color: variables.$main-text-color;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;

  &:hover {
    color: variables.$main-text-color;
    background-color: variables.$main-background-color;
  }
}
