html,
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: $main-background-color;
}

h1,
h2,
p,
ul {
  margin: 0;
}

hr {
  border: none;
  border-top: 1.5px solid $main-text-color;
}