.bestPractices {
  display: flex;
  padding: var(--padding-content);
  background-color: var(--green);

  & .paragraph {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;

    > :first-child {
      margin-top: 32px;
    }

    > :last-child {
      margin-bottom: 32px;
    }
  }

  & .profilePicture {
    flex: 1;

    & img {
      position: absolute;
      top: 200px;
      right: 10%;
      bottom: 112px;
      width: auto;
      max-width: 280px;
      height: auto;
      max-height: 500px;
      border-radius: 500px;
      object-position: 50% 60%;
    }
  }
}
